<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    namespace:名称空间
-->
<mapper namespace="com.example.summer.mapper.ClassMapper">
    <!---学号查询班级号-->
    <select id="selectClassByStu_no" resultType="integer">
        select class_no
        from classtostudent
        where stu_no = #{stu_no}
    </select>
</mapper>