<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    namespace:名称空间
-->
<mapper namespace="com.example.summer.mapper.ClassTableMapper">
    <!--根据班级号设置课表-->
    <insert id="insertClassTable">
        insert into classtable
        values (#{class_no}, #{class_order}, #{class_weekday}, #{sub_no}, #{tea_no})
    </insert>
<!--    通过班级号修改课表-->
    <update id="updateClassTableByClass_no">
        update classtable set class_order=#{classTable.class_order} where class_no=#{cls_no};
        update classtable set class_weekday=#{classTable.class_weekday} where class_no=#{cls_no};
        update classtable set sub_no=#{classTable.sub_no} where class_no=#{cls_no};
        update classtable set tea_no=#{classTable.tea_no} where class_no=#{cls_no};

    </update>
    <!--根据班级号选择课表-->
    <select id="selectClassTableByStu_no" resultType="classtable">
        select *
        from classtable
        where class_no = #{class_no}
    </select>
    <!--根据课程号查班级号-->
    <select id="selectClass_noBySub_no" resultType="Integer">
        select class_no
        from classtable
        where sub_no = #{sub_no}
    </select>
    <select id="selectAll" resultType="classtable">
        select * from classtable
    </select>
</mapper>