<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    namespace:名称空间
-->
<mapper namespace="com.example.summer.mapper.CollegeMapper">
        <select id="selectAll" resultType="college">
            select * from college
        </select>
    <!--    根据学院号查学院名-->
    <select id="selectCo_nameByCo_no" resultType="string">
        select co_name from college where co_no=#{co_no}
    </select>
    <!--    根据学院名查学院号-->
    <select id="selectCo_noByCo_name" resultType="integer">
        select co_no from college where co_name=#{co_name}
    </select>
<!--    添加学院-->
    <insert id="insertCollege">
        insert into college values (#{co_no},#{co_name})
    </insert>

<!--通过学院名删除学院-->
    <delete id="deleteCollegeByCo_name">
        update class set co_no=null where co_no=(select co_no from college where co_name=#{co_name});
        update teacher set tea_col_no=null where tea_col_no=(select co_no from college where co_name=#{co_name});
        delete from college where co_name=#{co_name};
    </delete>
</mapper>