<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    namespace:名称空间
-->
<mapper namespace="com.example.summer.mapper.StudentMapper">
<!--    修改学生信息-->
    <update id="updateStudent">
         update student set stu_name=#{newStu.stu_name} where stu_no=#{oldStu.stu_no};
         update student set stu_sex=#{newStu.stu_sex} where stu_no=#{oldStu.stu_no};
         update student set stu_year=#{newStu.stu_year} where stu_no=#{oldStu.stu_no};
         update student set ter_no=#{newStu.ter_no} where stu_no=#{oldStu.stu_no};
    </update>
    <select id="selectAll" resultType="student">
        select * from student
    </select>
    <!--设置学生信息-->
    <insert id="insertStudent">
        insert into student
        values (#{stu_no}, #{stu_name}, #{stu_sex}, #{stu_year}, #{ter_no})
    </insert>
    <!--设置学生班级-->
    <insert id="insertStudentClass">
        insert into classtostudent
        values (#{class_no}, #{stu_no})
    </insert>
<!--    通过学号删除学生-->
    <delete id="deleteStudentByStu_no">
        delete from student where stu_no=#{stu_no};
        delete from classtostudent where stu_no=#{stu_no};
        delete from grade where stu_no=#{stu_no};
        delete from report where stu_no=#{stu_no};
        delete from user where stu_no=#{stu_no};
    </delete>
    <!--根据学号查询信息-->
    <select id="selectByStu_no" resultType="student">
        select *
        from student
        where stu_no = #{stu_no}
    </select>
    <!--根据班级号查所有学号-->
    <select id="selectStu_noByClass_no" resultType="java.lang.Integer">
        select stu_no
        from classtostudent
        where class_no = #{class_no}
    </select>
    <select id="selctAll" resultType="com.example.summer.entity.Student">
        select * from student
    </select>

</mapper>