<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!--
    namespace:名称空间
-->
<mapper namespace="com.system.summervacationpractice.mapper.GradeMapper">
    <!--设置各科成绩-->
    <insert id="insertGrades">
        insert into grade values <foreach collection="array" item="grade" separator=",">
        (#{grade.stu_no},#{grade.sub_no},#{grade.grade})
    </foreach>
    </insert>
    <!--根据学号查询各科成绩-->
    <select id="selectByStu_no" resultType="grade">
        select * from grade where stu_no=#{stu_no}
    </select>
    <!--根据学号，课程号查询成绩-->
    <select id="selectByStu_noClass_no" resultType="grade">
        select * from grade where (stu_no=#{stu_no})and (sub_no=#{sub_no})
    </select>
</mapper>